*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    background-image: url(/img/background.png);
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12vh;
}
.header .left{
    display: flex;
    gap: 2px;
    color: white;
}
.header .left i{
    color: rgba(185, 139, 10, 0.849);
}
.header .left h1{
    cursor: pointer;
}
.header .middle{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
}
.header .middle ul{
    display: flex;
    gap: 50px;
    margin-left: 5px;
    margin-right: 5px;
}
.header .middle ul li{
    list-style: none;
}
.header .middle ul li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.header .middle ul li a:hover {
    color: rgba(185, 139, 10, 0.849);
}
.header .right button{
    height: 35px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background: linear-gradient(45deg, rgb(191, 191, 204), rgb(61, 45, 1));
    cursor: pointer;
    transition: all 3ms ease-in-out;
    color: white;
}
.header .right button:hover{
    background: linear-gradient(45deg, rgb(53, 39, 1), rgb(243, 243, 245));
    scale: 1.05;
}
#design{
    border: 1px solid white;
    border-radius: 10px;
    padding: 8px;
    margin-top: 10px;
}
#design i{
    color: rgba(185, 139, 10, 0.849);
}
.main{
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    padding: 6px;
}
.main .top{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}
.top .heading h1{
    font-size: 3.8em;
    text-align: center;
}
.design{
    color: rgba(185, 139, 10, 0.849);
}
.main .top p{
    font-size: 18px;
    text-align: center;
    width: 500px;
}
.middle{
    display: flex;
    flex-direction: column;
}
.middle .first{
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.middle .first .one, .middle .first .two, .middle .first .three{
    border: 1px solid rgb(0, 0, 3);
    width: 350px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(3, 1, 27,0.8);
    display: flex;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: 3ms all ease-in-out;
}
.middle .first .one:hover, .middle .first .two:hover, .middle .first .three:hover{
    scale: 1.05;
}
.middle .second{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.middle .second .four, .middle .second .five, .middle .second .six{
    border: 1px solid rgb(0, 0, 3);
    width: 350px;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(3, 1, 27,0.8);
    display: flex;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}